* annex.backend=MD5E
**/.git* annex.largefiles=nothing
**/.reproman* annex.largefiles=nothing
*.tsv annex.largefiles=largerthan=40kb
*.json annex.largefiles=largerthan=40kb
*.bvec annex.largefiles=largerthan=40kb
*.bval annex.largefiles=largerthan=40kb
README annex.largefiles=nothing
CHANGES annex.largefiles=nothing
dataset_description.json annex.largefiles=nothing
desc-aparcaseg_dseg.tsv annex.largefiles=nothing
desc-aseg_dseg.tsv annex.largefiles=nothing
logs/CITATION* annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
